/*MODAL*/
.btn.disabled, .btn[disabled], fieldset[disabled] .btn 
{
  opacity: .2;
}
.th {
  text-align: center !important;
}
.caja__aviso {
  padding-top: 40px;
  border-right: 1px solid grey;
}
.n__preguntas {
  font-size: 20px;
  font-family:  ;
}
/*.parrafo-preguntas {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2;
  color: gray;
  padding: 20px 0 20px 0;
}*/

.parrafo-pregunta {
  font-size: 22px;
  font-weight: 800;
  color: gray;
  padding: 35px 0 20px 0;
}
.parrafo-respuesta {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: gray;
  padding: 20px 0 20px 0;
}
.box__caja {
  

}
/*SLIDE DE PRECIOS*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}
.caja-perfil {
  margin-top: 30px;
  margin-bottom: 30px;
}

.caja-editar-info {
  border:2px solid black;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.caja__terminos {
  margin-left: 35%;
  margin-top: 30px;
}
.stepwizard-step button[disabled] {
    opacity: .8 !important;
    filter: alpha(opacity=80) !important;
}

.stepwizard-row:before {
    top: 22px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.price-box {
    margin: 0 auto;
  background: #E9E9E9;
  border-radius: 10px;
  padding: 40px 15px;
  width: 500px;
}

.ui-widget-content {
  border: 1px solid #bdc3c7;
  background: #e1e1e1;
  color: #222222;
  margin-top: 4px;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 5.2em;
  height: 2.2em;
  cursor: default;
  margin: 0 -40px auto !important;
  text-align: center; 
  line-height: 30px;
  color: #FFFFFF;
  font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  margin: 0 3px; 
  font-size: 11px;
  opacity: 0.5;
}

.ui-corner-all {
  border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
border: 2px solid grey;
background: #e8e8e8;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

.price, .lead p {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 60px;
}

h4.great {
  background: #00ac98;
  margin: 0 0 25px -60px;
  padding: 7px 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
}

.total {
  border-bottom: 1px solid #7f8c8d;
  /*display: inline;
  padding: 10px 5px;*/
  position: relative;
  padding-bottom: 20px;
}

.total:before {
  content: "";
  display: inline;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background: #7f8c8d;
  opacity: 0.5;
}
.validate__user {
  color: red;
  font-size: 12px;
}
.price-slider {
  margin-bottom: 70px;
}

.price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

.form-pricing {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.price-form {
  background: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 190px;
  /*padding: 20px;*/
  border: 1px solid #eeeeee;
  border-radius: 4px;
  /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
  margin-bottom: 0;
}

.form-group span.price {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 14px;
}

.help-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #737373;
  position: absolute;
  /*margin-left: 20px;*/
  font-weight: 200;
  text-align: right;
  width: 188px;
}

.price-form label {
  font-weight: 200;
  font-size: 21px;
}

img.payment {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
  background: #2980b9;
}

/* HR */

hr.style {
  margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
/*SLIDE DE PRECIOS*/
/*BOTONES*/

/*BOTONES*/
/*COLUMNAS AGREGADAS*/
.caja__miembros {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #ffffef;
}
.h2__p1 {
  font-size: 20px;
  line-height: 2.5;
  margin-top: 40px;
  margin-bottom: 40px;
}
.h1__item {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.hr__5px {
  border-bottom: 8px solid rgb(60, 72, 88);
  width: 200px;
}
.caja__sistemainfo {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #e6feff;
}
.caja__aportaciones {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #f9f8e9;
}
.slider-red {
  padding:160px 0 150px;
  background: grey;
    background-image: url("../img/daextra-background-feliz.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*ESTILOS AGREGADOS*/
.formato__registro {
  /*margin: 30px;*/
  padding: 13px 100px 29px 100px;
  box-shadow: 0px 10px 20px 5px rgba(210, 210, 210, 0.53);
}
.img-daextra {
  float: left;
  position: relative;
}
.img-daextra-float {
  position: absolute;
  float: left;
  top: -40px;
  margin-left: 290px;
  width: 180px;
  z-index: 3 !important;
 }
 .img-bill-daextra {
  float: left;
  position: relative;
  z-index: 5;
 }
 .img-bill-cartera-float {
  position: absolute;
  float: left;
  top: -10px;
  margin-left: 190px;
  width: 200px;
  z-index: 100 !important;
 }
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.icon-border-radius {
  border: 2px solid white;
  border-radius: 100%;
  padding: 5px;
}
.navbar-default .navbar-nav>li>a {
  color: #414654 !important;
}
.social-buttons .i {
  padding-right: 20px;
}
.text-slide- {
  /*font-size: 130px;*/
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.text-slide {
  font-size: 20px;
  font-weight: 100;
}
.logo-extra-login {
  /*padding-bottom: 10px;*/
  width: 200px;
}
.text-mensaje {
  padding-top: 30px;
  font-size: 30px;
  text-align: left;
}
.h2-slider-item {
  font-size: 65px;
  /*letter-spacing: 1px;*/
  color: white;
  font-weight: 700;
}
.text-green {
  color: #00bf40;
}
.clave__b {
  font-size: 20px;
  width: 150px !important;
}
.hashtag_slide {
    padding: 5px;
    width: 268px;
    border-radius: 3px;
    text-align: center;
    color: #00bf40;
    background: white;
    font-weight: 300;
}
/*TIPOGRAFIAS*/
.caja-login {
  width: 350px !important;
  margin: 30px auto;
}
.modal-dialog {
  width: 670px;
}
.text-muli-100 {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}
.text-muli-200 {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}
.text-muli-300 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.text-muli-400 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
.text-muli-600 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.text-muli-700 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
.text-muli-800 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}
.text-muli-900 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}
.section-cajatuextra {
padding-top: 50px;
}
.section-porque {
  padding-top: 150px;
  padding-bottom: 100px;
  background: rgba(255, 255, 237, 0.39);
}
.text-italic-noticia {
  font-size: 18px;
  font-family: 'Noticia Text', serif;
  line-height: 35px;
}
.caja-aviso {
  padding-left: 90px;
  padding-right: 90px;
}
.text-modal-dx {
  /*text-align: center;*/
  font-size: 60px;
  font-weight: bold;
  padding-top: none !important;
}
/*TIPOGRAFIAS*/

/*PADDINGS*/
.padding-50 {
  padding: 50px;
}
.padding-40 {
  padding: 40px;
}
.padding-20 {
  padding: 20px;
}
.padding-10 {
  padding: 10px;
}
.caja-iconos {
  padding-top: 48px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 40px;
}
.box-registro--btn {
  padding: 40px;
}
.text-white {
  color: white;
  /*text-shadow: 10px 5px 10px black;*/
}
.h2-des {
  font-size: 30px;
}
.respuesta-p {
  font-size: 20px;
  font-weight: 100;
}
.pregunta-h3 {
  font-size: 50px;
  font-weight: bold;
  /*font-family: 'spoon-bolduploaded_file';*/
  font-family: 'Nunito', sans-serif;
}
.logo-daextra {
  margin-top: -20px;
}
.btn-call-registro {
/*
  margin: 30px;
  padding: 30px;
*/
  border: 2px solid #39b54a;
  background: transparent;
  color: #39b54a;
  font-size: 30px;
}
.btn-registro {
  background: #39B54A !important;
  /*margin: 50px !important;*/
  padding: 30px !important;
  margin-bottom: 50px;
}
.btn-registrate {
  background: #39B54A !important;
  padding: 10px !important;
  font-size: 20px;
  background: black;
}
.btn-entrar {
  background: #29ABE2 !important;
  margin: 10px !important;
  padding: 10px !important;
  font-size: 25px;
}
.btn-centrado {
  margin: 0 !important;
}
.daextra {
  background-color:white !important;
}
.daextra {
  background: white;
  /*margin-top: 120px;*/
  margin-bottom: 200px;
}
.video-daextra {
  /*background-image: url("../img/background-slider-2.jpg");*/
  /*margin-top: 120px;*/
  /*  margin-bottom: 120px;*/
  padding-top: 90px;
  padding-bottom: 50px;
}
.img-tabla-extra {
  width: auto;
}
.section-testimonios {
  padding-top: 30px;
  padding-bottom: 100px;
}
.seguro-container {
  background-image: url('../img/background-daextra-final.jpg');
  /*background: #39B54A;*/
  padding: 120px 0 120px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.como-ser-parte {
  padding-top: 10px;
}
.p-sub {
padding-top: 30px;
}
.slide-header {
  background-image: url("../img/daextra-background-feliz.jpg");
  padding: 120px 0 120px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-back {
  background-image: url("../img/background-slider-3.jpg");
}
.cab-sli-h1 {
  font-weight: 900;
  color: #5A5A5A;
  text-shadow: none;
}
.caja-blanca {
  background: white;
}
.sec-por-que {
    padding: 100px 0 100px 0;
    background: #39B54A;
    color: white;
}
.text-red-h2 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 100px;
  font-size: 45px !important;
  line-height: 1.5;
}
.text-h2-ideados {
  font-size: 50px !important;
  margin-right: 100px;
  line-height: 1.5
}
.img-videoicon {
  width: 50%;
  margin-bottom: 100px;
}
.img-50 {
  /*position: absolute;*/
}
.h2-slider {
  color: #5A5A5A;
  margin-top: -20px;
  font-family: 'Nunito', sans-serif;
  font-size: 50px !important;
  text-shadow: none !important;
  /*text-align: left;*/
  letter-spacing: -2px;
}
.h1-slider {
  font-family: 'Nunito', sans-serif;
  font-size: 3em !important;
  color: white !important;
  letter-spacing: -4px;
  text-shadow: 10px 0 20px black;
  padding-top: 260px;
}
/*ESTILOS AGREGADOS*/
.img-money {
  margin-top: -10px;
  width: 60%;
}
.navbar .navbar-nav > li > a {
  font-size: 18px !important;
  font-family: 'Nunito', sans-serif;
  font-weight: 300 !important;
  margin-top: 10px;
}
.modal {
  background: rgba(0, 0, 0, 0.65) !important;
}
.caja-tuextra {
  padding: 100px 0 100px;
  /*padding-bottom: 100px;*/
  margin: 10px;
}
.info-title {
  /*font-family: 'spoon-bolduploaded_file', sans-serif;*/
  font-size: 3.2em !important;
  color: #383838 !important;
}
.text-seguro {
  font-size: 2em;
  padding: 20px;
  margin: 20px;
  background: rgba(51, 122, 183, 0.74);
  color: white;
}
.img-extramoney {
  padding: 100px 0 180px;
  z-index: 90;
}
.logo-white {
  margin-right: 80px;
}
.des-padding {
  padding-left: 20px;
}
.img-scroll {
  width: 200px !important;
}

.seccion-blog {
  padding-top: 100px;
  background-image: url("../img/back-blog.jpg");
  /*background: #39B54A;*/
  padding: 100px 0 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seccion-registrar {
    padding-top: 100px;
    /*background-image: url(../img/background-registro.jpg);*/
     background: #39B54A; 
    padding: 53px 0 20px;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
/*COMO FUNCIONA*/
.secction-como-funciona {
  /*padding-top: 100px;*/
  background-image: url("../img/fondo-daextra-scape.jpg");
  background: #39B54A;
  padding: 100px 0 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.como-funciona-text {
  font-size: 65px;
  color: white;
  letter-spacing: -1px;
  text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.41);
  /*line-height: 80px;*/
}
.section-etapas {
  padding-top: 60px;
  padding-bottom: 60px;
}
.etapas-col {
  padding-top: 20px;
}
.bt-index {
  z-index: 2;
}
.text-title-h4 {
  font-size: 25px !important;
  line-height: 2 !important;
}
/*TESTIMONIOS*/
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Content */
.content {
    padding-top: 30px;
}

/* Testimonials */
.name-testimonio {
  font-weight: bold;
  font-size: 18px;
}
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0; 
    height: 0;
  right: 0;
  bottom: 0;
  content: " "; 
  display: block; 
  position: absolute;
    border-bottom: 20px solid #fff;    
  border-right: 0 solid transparent;
  border-left: 15px solid transparent;
  border-left-style: inset; /*FF fixes*/
  border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #68D7F3 transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
 
.testimonial{
    margin:0 10px;
    overflow: hidden;
}
.testimonial .pic{
    width:120px;
    height:120px;
    border:2px solid #f2f2f2;
    border-radius: 50%;
    padding:5px;
    margin: 0 auto 25px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius:50%;
}
.testimonial .testimonial-content{
    padding: 20px 20px 20px 80px ;
    background: #efefef;
    border-radius: 0 0 0 70px;
    border-left: 2px solid #444;
    border-right: 4px solid #1c9690;
    text-align: right;
    position: relative;
}
.testimonial .testimonial-content:before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top:0;
    left:20px;
    font-size: 60px;
    color: #68C9C4;
}
.testimonial .testimonial-content:after{
    content: "";
    border-bottom: 15px solid #efefef;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 46%;
}
.testimonial .testimonial-title{
    margin: 0 0 10px 0;
}
.testimonial .testimonial-title a{
    font-size: 16px;
    font-weight: bold;
    color:#333;
    text-transform:capitalize;
    text-align:center;
    display: block;
}
.testimonial .testimonial-title a:hover{
    text-decoration: none;
    color:#1c9690;
}
.testimonial .description{
    font-size: 15px;
    line-height:24px;
    color:#555;
    margin-bottom:20px;
    font-style: italic;
}
.owl-pagination{
    margin-top: 40px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background:#1c9690;
}
@media only screen and (max-width: 479px) {
    .testimonial .testimonial-content{
        padding: 20px 20px 20px 70px;
    }
    .testimonial .testimonial-content::before{
        font-size: 50px;
        left: 17px;
    }

}
/*TESTIMONIOS*/
/*COMO FUNCIONA SECTION*/

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; 
    }
  .img-videoicon {
    width: 100%;
    }
  .text-h2-ideados {
  font-size: 35px !important;
  width: 300px;
    }    
  .h2-slider {
    font-size: 45px !important;
    margin-top: -35px !important;
  }
  .h1-slider {
    font-size: 20px !important;
    margin-top: 10px !important;
  }
  .text-mensaje  {
    font-size: 35px;
    padding: none;
  }
  .img-testimonio {
    width: 50%;
    padding-bottom: 90px;
    padding-top: 90px;
  }
  .text-slide- {
  /*font-size: 18px;*/
  font-size: 16px;
  /*padding-top: 20px;*/
  padding-bottom: 100px;
  }
  .img-extramoney {
    padding: 20px 0 50px;
  }
  .btn-right {
    padding-right: 20px;
  }
  .h2-des {
    padding-top: 30px;
    font-size: 22px;
  }
  .etapas-col {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .como-funciona-text {
    font-size: 44px !important;
    color: white;
    /* letter-spacing: 0; */
    margin-top: 50px;
  }
  .modal-dialog {
  width: auto !important;
  }
  .text-input-id {
    font-size: 20px !important;
  }
  .img-daextra-float {
    margin-left: 190px;
    width: 90px;
    top: -30px;
    /*padding: ;*/
  }
  .navbar .navbar-brand .img-logo{
    width: 200px !important; 
    padding: 0;
    margin: 0;
  }
  .h2-slider-item {
    font-size: 30px !important;
  }
  .text-green {
    font-size: 23px;
  }
  .formato__registro {
  padding: 15px;
  }
/*  .carousel-inner {
    height: 1250px;
  }*/
}
@media (max-width: 320px) {
.img-bill-cartera-float {
  margin: none !important;
  padding: none !important;
  }
  .h2-slider-item {
    font-size: 20px !important;
  }
}
@media (max-width: 240px) {
  .navbar .navbar-brand .img-logo{
    width: 120px !important; 
    padding: 0;
    margin: 0;
  }
}

/*LOGIN MODAL}
